p{
    font-size: 20px
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 100%;
}
button{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     background-color: white;
    color: black;
    border: 2px solid gray; /* Green */
}