#Enter{
    margin-top: 275px;
    margin-bottom: 25px
}
#About{
    margin-bottom: 25px;
}
body{
    background-image: url("https://www.vulnhub.com/media/img/entry/pandora-0.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    font-family: "Times New Roman", Times, serif;
}
